footer {
  padding: 40px 0;
  text-align: center;
  background-color: map-get($colors, primary);

  .social-title {
    span {
      font-size: 1rem;
      color: #020151;
      background-color: #fff;
      padding: 10px 15px;
      text-transform: uppercase;
    }
  }

  .icons-block {
    max-width: 80%;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin: 50px 0;
      padding-left: 0;
    }

    i {
      color: #fff;
      font-size: 2rem;
    }
  }

  .copyright {
    font-size: 0.7rem;
    color: #fff;
  }
}

@media (min-width: #{map-get($breakpoints, large)}) {
  footer {
    padding: 80px 0;

    .icons-block {
      max-width: 30%;

      ul {
        margin: 80px 0 250px 0;
      }
    }
  }
}
