.post {
  margin-top: 140px;
}

.img-post {
  img {
    max-width: 100%;
    border-radius: 8px;
  }
}

.timeline {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0 80px 100px;
  position: relative;
  border-left: 1px solid map-get($colors, timeline);
  color: map-get($colors, primary);

  .date {
    width: 90px;
    left: -45px;
    top: 75px;
    position: absolute;
    padding: 5px;
    font-weight: 900;
    text-align: center;
    background-color: #fff;
    color: map-get($colors, date);
    font-size: 3rem;
  }

  .title-post {
    font-size: 3rem;
    font-weight: 900;
  }

  .text-post {
    font-size: 2.5rem;
    margin: 80px 0 90px 0;
  }

  .video-block {
    position: relative;

    video {
      max-width: 100%;
    }

    .btn-play-pause {
      width: 120px;
      height: 120px;
      position: absolute;
      z-index: 3;
      left: 50%;
      margin-left: -60px;
      top: 50%;
      margin-top: -100px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all .3s ease;
      background-image: url('../img/play.svg');
      background-size: 120px 120px;
      background-color: transparent;
    }
  }
}
