@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');
@import '~bootstrap/scss/bootstrap-reboot.scss';

@import './variables';
@import './fontello';
@import './header';
@import './post';
@import './footer';

html,
body {
  font-size: 14px;
  font-family: 'Merriweather', serif;
  max-width: 1920px;
  height: 100%;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@media (min-width: #{map-get($breakpoints, small)}) {
  html, body {
    font-size: 18px;
  }
}
